:root {
  --primary-font: 'Roboto', sans-serif;
  font-family: var(--primary-font);
  --hotstar-primary-color:  #0c121c;
  --default-font-color: #fff;
}

body {
  background-color: var(--hotstar-primary-color);
  color: var(--default-font-color);
}

.hotstart-body {
  height: 100%;

  & .tray-container {
    margin: 1rem 2rem;
  }
}
